@use "helpers/" as *;
@use "fonts" as *;

html {
  overflow-x: hidden;

  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);
  letter-spacing: 0.03em;
  color: $text-color-dark;
  background-color: $color-white;
}

h1,
.h1 {
  @include fontRaleway(600, $text-color-title);
  @include fluid-text(200, 80);
  text-transform: uppercase;
  line-height: 1;
}

h2,
.h2 {
  @include fontRaleway(600, $text-color-title);
  @include fluid-text(48, 18);
  text-transform: uppercase;
  position: relative;
  &::after {
    @include slash;
  }
}

h3,
.h3 {
  @include fontRaleway(500, $text-color-dark);
  @include fluid-text(24, 18);
  text-transform: uppercase;
}

h4,
.h4 {
  @include fontRoboto(400, $text-color-title);
  @include fluid-text(36, 20);
}

p,
.p {
  @include fontRoboto(300);
  @include fluid-text(18, 14);
}

a,
label,
input,
textarea,
select,
svg * {
  transition: $transition-duration;
}

label {
  @include fontRoboto(400, $color-accent);
  @include fluid-text(16, 14);
}


a {
  @include fluid-text(24, 14);

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed $color-white;
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

section {
  padding-block: rem(70);
  @include mobile {
    padding-block: rem(40);
  }
}

span {
  @include fontRoboto(400);
  @include fluid-text(24, 18);
}

.border-box {
  padding: 5px;
  border-radius: 0.5rem;
  background: $color-white;
  box-shadow: inset 0px 0px 3px $color-border;
}

.button {
  @include fontRoboto(500, $color-white);
  @include fluid-text(24, 18);
  width: rem(350);
  height: rem(70);
  background-color: $color-button-start;
  transition: $transition-duration;
  border-radius: 2rem;
  &:hover {
    background-color: $color-button-end;
    transform: $transform-scale;
  }
}
