@use "../helpers/" as *;

.about {
  .about-inner {
    @include flex-center;
    flex-direction: column;
    gap: rem(70);

    @include mobile {
      gap: rem(18);
      margin-inline: 1rem;
    }
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(40);

    @include tablet {
      gap: rem(20);
    }

    @include mobile {
      display: contents;
    }

    &__item {
      @include border-animate;
    }
  }
}
