@use "../helpers/" as *;

.btn-up {
  position: fixed;
  right: 20px;
  bottom: 0;

  cursor: pointer;
  transition: 0.3s;

  display: flex;
  align-items: center;

  width: 75px;
  height: 100px;
}
.btn-up::before {
  content: "";
  width: 200px;
  height: 200px;

  background-size: 100% 100%;
  background-image: url("../../img/svg/btnUp.svg");
}
.btn-up:hover {
  transform: scale(1.05);
  opacity: 80%;
}
.btn-up:active {
  transform: scale(0.9);
  opacity: 1;
}

.btn-up--hide {
  opacity: 0;
}
