@use "../helpers/" as *;

.gallery {
  &__title {
    text-align: center;
    margin-bottom: rem(70);
  }

  &__tab {
    display: flex;
    column-gap: rem(20);
    margin-bottom: rem(50);

    &-btn {
      @include fontRoboto(400);
      @include fluid-text(24, 18);
      transition: $transition-duration;
      cursor: default;
      background-color: transparent;

      &:hover:not(.gallery__tab-btn--active) {
        opacity: 0.5;
        transform: $transform-scale;
      }
    }

    &-btn--active {
      color: $color-accent;
    }
  }

  &__image {
    &-item {
      display: none;
      margin-bottom: rem(40);
    }

    &-item--active1 {
      display: flex;
      flex-wrap: wrap;
      gap: rem(40);
    }
    
    &-item--active2 {
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: rem(40) rem(40);
      grid-template-areas:
        ". . ."
        ". . .";
    }
  }
  
  &__button {
    display: flex;
    justify-content: center;
  }
}
