@use "../helpers/" as *;

.header {
  height: 100vh;
  overflow: hidden;

  background: url("../../img/jpg/headerImage.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  &-inner {
    @include flex-center;
    height: inherit;
  }

  &-title {
    position: fixed;
    text-align: center;
    transition: $transition-duration;

    &__second {
      font-weight: 400;
    }
  }

  .title {
    transform: translate3d(0px, calc(var(--scrollTo) / -2), rem(-50));
    opacity: 0;
  }
}
