@use "../helpers/" as *;

.info-content {
  height: rem(300);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.info-number {
  display: grid; 
  grid-auto-flow: column dense; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 40px 40px; 
  grid-template-areas: 
    "info-grid1 info-grid2 info-grid3 info-grid4"
    ". . . ."; 

  &__item {
    @include font-roboto-bold;
  }
}

.info-grid1 { grid-area: info-grid1; }
.info-grid2 { grid-area: info-grid2; }
.info-grid3 { grid-area: info-grid3; }
.info-grid4 { grid-area: info-grid4; }

.info-sub__item {
  @include font-roboto-light;
}
