@use "../helpers/" as *;

.quote {
  background-color: $color-background;
  height: rem(200);
  @include flex-center;

  .blockquote {
    margin-inline: 1rem;
    @include flex-center;
    flex-direction: column;
    &__quote {
      @include fontRoboto(400);
      @include fluid-text(36, 18);
      // padding-inline: rem(150);
    }
    &__author {
      @include fontRoboto(300);
      @include fluid-text(18, 16);
      margin-left: clamp(1rem, 20vw, 26rem);
    }
  }
}
