@use "../helpers/" as *;

.school-content {
  height: rem(966);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: rem(96);
  z-index: 5;
}
.school__title {
  @include font-raleway-semibold;
}
.school__title::after {
  @include slashNew;
}

.school-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: rem(30) rem(120);
  grid-auto-flow: row;

  &__item {
    @include font-roboto-light;
    color: $text-color-dark;
  }
}
