@use "../helpers/" as *;

.social-block {
  display: flex;
  justify-content: center;
  gap: rem(10);
  margin-bottom: rem(70);

  .social-link {
    @include font-roboto-regular-small;
    color: $text-color-dark;
  }

  .social-link--accent {
    color: $color-accent;
  }
}