@use "../helpers/" as *;

.training {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(90);
  margin-inline: 1rem;

  @include tablet {
    flex-direction: column;
  }

  &__content {
    &-title {
      margin-bottom: rem(70);
      text-align: center;
    }

    &-paragraph {
      margin-bottom: rem(30);
      width: rem(550);
    }

    &-image {
      width: 960px;
      height: 850px;
    }
  }
}

@include laptop {
  .training__content-image {
    width: 760px;
    height: 650px;
  }
}

@include mobile {
  .training__content-image {
    display: none;
  }
  .training__content-title {
    margin-bottom: rem(40);
  }
  .training__content-paragraph {
    width: auto;
  }
}