@use "../helpers/" as *;

.video-content {
  @include flex-center;
}

.video {
  width: rem(1200);
  height: rem(600);
  @include laptop {
    margin-inline: 1rem;
  }
  @include tablet {
    width: rem(600);
    height: rem(300);
  }
}
